/* Taille et largeur width menu */

.section
{
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 10px;
    margin-right: 10px;
}

.article__size--font
{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1em;
}

.article__text--center
{
    text-align: center;
    font-weight: bold;
}

.price
{
    padding-left: 5px;
    padding-right: 5px;
}

.note__icon--center
{
    text-align: center;
    padding-bottom: 30px;
}

.fa-music
{
    font-size: 30px;
}

.menus__title
{
    display: flex;
    justify-content: center;
}

p
{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;    
}

span
{
    align-self: center;
    padding-left: 20px;
}

.hr__note--color
{
    background-color: rgb(60, 18, 24);
    height: 2.5px;
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
}

.article__padding--icon
{
    padding-left: 15px;
}

/* Couleurs Textes et Titre "Le chic à la française" */

/* Couleurs Textes et Titre "Le délice des papilles" */

/* Couleurs Textes et Titre "La palette du goût" */

/* Media Queries Menus */

@media only screen and (min-width: 768px) 
{   

}

@media only screen and (min-width: 1024px) 
{

}


@media only screen and (min-width: 1200px) 
{


}