h1 {
    margin: 0;
}

a {
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

.text--yellow {
    color: rgb(253, 203, 70);
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 13px;
}

.logo-omf {
    width: 130px;
    align-items: center;
}

.section__display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box__shadow {
    box-shadow: 1px 1px 5px rgb(189, 188, 188);
    ;
}

.fa,
.fas {
    padding-top: 35px;
    font-size: 25px;
    background: -webkit-linear-gradient(left, rgb(239, 71, 95), rgb(246, 145, 106));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Section article */

.article__title--font {
    font-size: 1em;
    padding-top: 50px;
}

.article__menu--size {
    text-align: center;
    height: 180px;
    width: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    transition: transform 0.2s;
}

.article__menu--size:hover {
    transform: scale(1.1);
}

article {
    opacity: 1;
}

article:hover {
    opacity: 0.5;
}

.article__title--note {
    margin-top: -46px;
}

.article__note--color {
    background-color: rgb(252, 223, 219);
}

.article__note--font {
    color: rgb(60, 18, 24);
    font-family: 'Damion', cursive;
}

.article__note--size {
    margin-top: -8px;
    font-size: 1.2em;
}

.article__chic--color {
    font-family: 'Odibee Sans', cursive;
    background-color: rgb(255, 245, 254);
}

.article__chic-text--color {
    color: rgb(199, 116, 18);
}

.article__title-chic {
    background: -webkit-linear-gradient(left, rgb(199, 116, 18), rgb(144, 91, 253));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.article__police--courgette {
    font-family: 'Courgette', cursive;
    font-size: 0.9em;
}

.article__delice--color {
    background-color: rgb(237, 239, 239);
}

.article__title-delice {
    background: -webkit-linear-gradient(left, rgb(4, 49, 223), rgb(8, 135, 251));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.article__delice-text--color {
    color: rgb(8, 135, 251);
}

.article__palette--color {
    background-color: rgb(253, 255, 253);
}

.article__palette-text--color {
    color: rgb(114, 191, 86);
}

.article__title-palette {
    background: -webkit-linear-gradient(left, rgb(61, 147, 57), rgb(191, 255, 126));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn {
    display: flex;
    justify-content: center;
}

.footer__text {
    size: 1em;
}

.soon {
    text-align: center;
    border-radius: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 80px;
    width: 150px;
}

/* Animation loading */

span.animation__loading .dot {
    display: inline-block;
    width: 3px;
    height: 3px;
    margin-right: 3px;
    background: rgb(253, 203, 70);
    animation: loading 1.2s infinite;
}

span.animation__loading .dot:nth-child(2) {
    animation-delay: -1.0s;
}

span.animation__loading .dot:nth-child(3) {
    animation-delay: -0.8s;
}

@keyframes loading {

    0%,
    100% {
        transform: infinite;
    }

    30% {
        transform: translateY(-8px);
    }
}

@media only screen and (min-width: 768px) {

    .logo-omf {
        width: 200px;
    }

    .article__title--font {
        font-size: 24px;
    }

    p {
        font-size: 1em;
    }

    .fa,
    .fas {
        font-size: 40px;
    }

    .article__menu--size:hover {
        transform: scale(1.3);
    }

    .section__menus--align {
        display: flex;
    }

    .section__menus--align article {
        width: 330px;
        margin: 20px;
    }

    .section__menus--align article a {
        display: flex;
        height: 490px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .article__font--pading {
        font-size: 1.8em;
    }


    .article__menu--size {
        width: 250px;
        margin-left: -40px;
        margin-right: -40px;
    }

    .note__icon--center {
        margin-top: -10px;
    }

    .soon {
        width: 250px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 1.5em;
    }

}

@media only screen and (min-width: 1024px) {

    .article__font--pading {
        font-size: 1.5em;
    }

}